.hidden {
  display: none;
}

.spotlink:hover {
  color: #00a699;
}

.nav-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* set a fixed height to prevent the navbar from changing size */
  padding: 0 20px; /* add some padding to the left and right of the navbar */
  background-color: #fff; /* add a background color to the navbar */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* add a box shadow to the navbar */
}

.nav-flexbox img {
  height: 40px;
  width: 128px;
}

.spotlink {
  margin-left: auto; /* move the spotlink to the right */
  margin-right: 10px; /* add some space between the spotlink and profile button */
}

.nav-flexbox ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.login-modal,
.signup-modal {
  margin-left: 10px; /* add some space between the login and signup buttons */
}
