.hidden {
  display: none;
}
.nav-link {
  color: #ff5a5f;
}

.nav-icon {
  color: #ff5a5f;
}

.nav-title {
  color: #ff5a5f;
  margin-left: 5px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 60px;
}

li {
  margin-right: 10px;
}

li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.login-modal,
.signup-modal {
  background-color: #fff;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.login-modal:hover,
.signup-modal:hover {
  background-color: #ddd;
}

.login-modal {
  margin-right: 10px;
}

.signup-modal {
  background-color: #ff5a5f;
  color: #fff;
}

.signup-modal:hover {
  background-color: #ff4b4f;
}
